html{
    color:#ffffff;
    background-color: #c3b2ae;
}
.Exercice1{
    color:purple;
    font-family: "Liberation Mono";
}
.ASCII{
    color: green;
    font-family: "Liberation Mono";
}
#strong{
    font-size:25px;
}
#strong2{
    font-size:25px;
}
