html{
    font-size: 12px;
    background-color: #000000;
    color: #c3b2ae;
}
.Title{
    font-size: 25px;
    text-align: center;
}
#1{
    font-style: normal;
    color:#c3b2ae;
    font-size: 15px;
}
#2{
    font-size: 15px;
    color:#c3b2ae;
}
#3{
    font-size:15px;
    color:green;
}
#4{
    font-size: 15px;
}
.first{
    font-size: 15px;
    color: #e6b3e1;
}
.second{
    font-size: 15px;
    color: #4c7bd9;
}